{% extends "layout.html" %}

{% block title %}Filters - {% endblock %}

{% block content %}
<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>

    <h1>Filters</h1>
    <table id="t01">
  <tr>
    <td><a href="/greyscale">Greyscale</a></td>
    <td><a href="/invert">Invert</a></td>
    <td><a href="/binarize">Binarize</a></td>
    <td><a href="/mirrorVert">Mirror Vertically</a></td>
    <td><a href="/mirrorHoriz">Mirror Horizontally</a></td>
    <td><a href="/flipVert">Flip Vertically</a></td>
    <td><a href="/flipHoriz">Flip Horizontally</a></td>
  </tr>
  <tr>
    <td>
        
</table>
{% endblock %}
