<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<html>
<title>Filters</title>

<body>
<h1>Filters</h1>

<table id="t01">
  <tr>
    <td><a href="/greyscale">Greyscale</a></td>
    <td><a href="/invert">Invert</a></td>
    <td><a href="/binarize">Binarize</a></td>
    <td><a href="/mirrorVert">Mirror Vertically</a></td>
    <td><a href="/mirrorHoriz">Mirror Horizontally</a></td>
    <td><a href="/flipVert">Flip Vertically</a></td>
    <td><a href="/flipHoriz">Flip Horizontally</a></td>
  </tr>
  <tr>
    <td>
        
</table>


<script type="text/javascript" src="http://scmplayer.net/script.js" 
data-config="{'skin':'skins/simpleBlack/skin.css','volume':50,'autoplay':true,'shuffle':false,'repeat':1,'placement':'top','showplaylist':false,'playlist':[{'title':'Another Story','url':'https://www.youtube.com/watch?v=Zo0UfKqwB94'}]}" ></script>
</body>
</html>
