{% extends "layout.html" %}

{% block title %}Home - {% endblock %}

{% block content %}
<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>

    <img class="small" src="http://www.iconpng.com/png/camera_icons/big_camera.png"></img>    <img class="tiny" src="http://3.bp.blogspot.com/-ZrIwoH6g36U/UsfI4ZaJM-I/AAAAAAAAJTY/qj7z8PaXG0g/s1600/Pusheen04.png">
    <h1>Picture Purrfect</h1>
    <p style="font-size:200%">Welcome to Picture Purrfect!
    <br>Picture Purrfect is the only place that gives you the freedom to redesign photographs.
    <br>Choose from a variety of captivating filters to create spectacular images.</p>
    <p style="font-size:200%" class="one">Pick a <a href="/choosefilter">filter</a>.</p>
    <br><br>
    <p><img class="resize" src="http://i60.tinypic.com/2n3swp.jpg"></img>     <img class="resize" src="http://i59.tinypic.com/2iboyh0.jpg"></img>
{% endblock %}

