{% extends "layout.html" %}

{% block title %}Home - {% endblock %}

{% block content %}
<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>

    <img class="resize2" src="http://www.iconpng.com/png/camera_icons/big_camera.png"></img><h1>Picture Perfect</h1>
    <p style="font-size:200%">Welcome to Picture Perfect!
    <br>Picture Perfect is the only place that gives you the freedom to redesign photographs.
    <br>Choose from a variety of captivating filters to create spectacular images.</p>
    <p style="font-size:200%" class="one">Pick a <a href="/choosefilter">filter</a>.</p>
    <p><img class="resize" src="https://scontent.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/11952012_10207708234566539_3081692826276658339_n.jpg?oh=4192c9d07a340651ff0be913b8af4c15&oe=5663151E"></img>               <img class="resize" src="https://scontent.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/11987202_10207708234606540_8921430249621642368_n.jpg?oh=04253422069949ddfb8e31b07f13d5c6&oe=566A589A"></img>
{% endblock %}

