{% extends "layout.html" %}

{% block title %}Home - {% endblock %}

{% block content %}
<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>

    <img class="resize2" src="http://www.iconpng.com/png/camera_icons/big_camera.png"></img><h1>Picture Perfect</h1>
    <p style="font-size:200%">Welcome to Picture Perfect!
    <br>Picture Perfect is the only place that gives you the freedom to redesign photographs.
    <br>Choose from a variety of captivating filters to create spectacular images.</p>
    <p style="font-size:200%" class="one">Pick a <a href="/choosefilter">filter</a>.</p>
    <p><img class="resize" src="https://lh6.googleusercontent.com/c1sOx3XyW3zpcRMuxxswcXQvL56HC_0qZV22zWu8tBwMyDVkDXwg61SZPvc8u-ryf7qTyKPL1sZmJlc=w1890-h813"></img>               <img class="resize" src="https://lh3.googleusercontent.com/SFZPNN7LsJrdIsnkO11duBfBkv8B3m1AjHuPuOjeAye-K-S1ZMddzUySASrU7G5ijpcmaJVBt340k2s=w1890-h813"></img>
{% endblock %}

