<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
  <title>{% block title %}{% endblock %} Picture Purrfect</title>
</head>

<body>
<center>
 <div id="content">{% block content %}{% endblock %}</div>

<script type="text/javascript" src="http://scmplayer.net/script.js" 
data-config="{'skin':'skins/simpleBlack/skin.css','volume':50,'autoplay':true,'shuffle':false,'repeat':1,'placement':'top','showplaylist':false,'playlist':[{'title':'Another Story','url':'https://www.youtube.com/watch?v=Zo0UfKqwB94'},{'title':'Stitches','url':'https://www.youtube.com/watch?v=A4KMui4f8Es'},{'title':'The Scientist ','url':'https://www.youtube.com/watch?v=RB-RcX5DS5A'},{'title':'Chasing Cars','url':'https://www.youtube.com/watch?v=GemKqzILV4w'},{'title':'Stubborn Love','url':'https://www.youtube.com/watch?v=UJWk_KNbDHo'}]}" ></script>
</center>
</body>
</html>
