<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>{% block title %}{% endblock %} Lauren Sierra</title>
</head>

<body>
 <div id="content">{% block content %}{% endblock %}</div>

 <script type="text/javascript" src="http://scmplayer.net/script.js" 
data-config="{'skin':'skins/simpleBlack/skin.css','volume':50,'autoplay':true,'shuffle':false,'repeat':1,'placement':'top','showplaylist':false,'playlist':[{'title':'Another Story','url':'https://www.youtube.com/watch?v=Zo0UfKqwB94'}]}" ></script>
</body>

</html>
