<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<html>
<title>Temp Conversion</title>

<body>

<h1>This is my Temp Conversion page</h1>

<form action="/doTempConvert">
Fahrenheit Temp:<br>
<input type="text" name="ftemp">
</form>

<p><img src="https://s.yimg.com/fz/api/res/1.2/gWR3Zr5B8mwQMlZ1s5iB5w--/YXBwaWQ9c3JjaGRkO2g9NjAwO3E9OTU7dz01MzA-/http://bestclipartblog.com/clipart-pics/thermometer-clip-art-17.gif"></img>

<script type="text/javascript" src="http://scmplayer.net/script.js" 
data-config="{'skin':'skins/simpleBlack/skin.css','volume':50,'autoplay':true,'shuffle':false,'repeat':1,'placement':'top','showplaylist':false,'playlist':[{'title':'Another Story','url':'https://www.youtube.com/watch?v=Zo0UfKqwB94'}]}" ></script>


</body>
</html>
